<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>Assembly Line MQTT Broker</name>
  <service>
    <type>_mqtt._tcp</type>
    <port>1883</port>
    <txt-record>path=/</txt-record>
  </service>
</service-group>
